.offers{
    margin: 100px auto;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8%;
    margin-bottom: 150px;
    background: white;
    border-radius: 15px;
}

.offers-left h1{
    color: #171717;
    font-size: 60px;
    font-weight: 600;
}
.offers-left p{
    color: #171717;
    font-size: 16px;
    font-weight: 600;
}
.offers-left button{
    width: 200px;
    height: 50px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right img{
    width: 320px;
    padding-top: 20px;
}

